<div class="flex justify-center h-full gradient-form bg-gray-200 md:h-screen">
  <div class="container py-12 px-10 h-full">
    <div
      class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
    >
      <div class="xl:w-10/12">
        <div class="block bg-white shadow-lg rounded-lg m-10">
          <div class="flex items-center lg:flex lg:flex-wrap g-0">
            <div class="lg:w-6/12 px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <div class="text-center">
                  <div class="flex justify-center gap-4">
                    <div class="w-10 h-10">
                      <img
                        src="assets/imgs/logo.png"
                        alt="logo"
                        class="w-full h-full"
                      />
                    </div>
                    <h4 class="text-3xl font-semibold mt-1 mb-12 pb-1">
                      Login
                    </h4>
                  </div>
                </div>
                <form
                  [formGroup]="loginForm"
                  (ngSubmit)="loginUserHandler(loginForm.value)"
                >
                  <p class="mb-4">Please login to your account</p>
                  <div class="mb-4">
                    <input
                      type="email"
                      [ngClass]="{
                        'border-red-500':
                          email && email.invalid && email.touched
                      }"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none"
                      id="exampleFormControlInput1"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>
                  <div class="mb-4">
                    <input
                      type="password"
                      [ngClass]="{
                        'border-red-500':
                          password && password.invalid && password.touched
                      }"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none"
                      id="exampleFormControlInput2"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </div>
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button
                      class="bg-primary inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-primaryhover hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                      type="submit"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                    >
                      Log in
                    </button>
                    <div class="text-gray-500" href="#!">
                      Dont have an account ?
                      <span
                        routerLink="/register"
                        class="text-primary font-semibold cursor-pointer"
                        >Create one</span
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div
              class="bg-primary lg:w-6/12 h-full flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
            >
              <img src="assets/imgs/dogimg.jpg" class="w-full h-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
